.player-save-btn {
    margin-left: 2em;
    width: 20em;
    height: 2em;
    background-color: #1379f4;
    background-image: linear-gradient(174deg, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.4) 50%, rgba(255,255,255,0.1) 51%);
    color: white;
    border: 0;
    font-weight: bold;
}